.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;

    .genre {
        background-color: #ff6f6f;;
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 20px;
        color: white;
        white-space: nowrap;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        transition: background-color 0.3s ease, transform 0.3s ease;
        
        &:hover {
            background-color: #ff6f6f;;
            transform: translateY(-2px);
        }
    }
}